<!-- <router-outlet></router-outlet> -->
<!-- JamMulaiAntri:string;
        JamPanggil:string;
        JamMulaiPelayanan:string;
        NamaCounter:string;
        Status:string;
        Petugas:string;
        Kategori:string;
        LamaPelayanan:string;
        LamaMenunggu:string;
        StartHold:string;
        DurasiHold:string;
        Datatambahan:string; -->
<div>
  <table>
    <tr>
      <th>Tanggal</th>
      <th>Nomor Antrian</th>
      <th>Cetak Tiket</th>
      <th>Mulai Antri</th>
      <th>Lama Menunggu</th>
      <th>Mulai Pelayanan</th>
      <th>Nama Counter</th>
      <th>Status</th>
      <th>Petugas</th>
      <th>Kategori</th>
      <th>Selesai Pelayanan</th>
      <th>Lama Pelayanan</th>
      <th>Hold</th>
      <th>Lama Hold</th>
      <th>Data Tambahan</th>
    </tr>
    <tr *ngFor="let row of arr">
      <td>{{row.Tanggal}}</td>
      <td>{{row.QueueNumber}}</td>
      <td>{{row.Cetak}}</td>
      <td>{{row.JamMulaiAntri}}</td>
      <td>{{row.LamaMenunggu}}</td>
      <td>{{row.JamMulaiPelayanan}}</td>
      <td>{{row.NamaCounter}}</td>
      <td>{{row.Status}}</td>
      <td>{{row.Petugas}}</td>
      <td>{{row.Kategori}}</td>
      <td>{{row.Finish}}</td>
      <td>{{row.LamaPelayanan}}</td>
      <td>{{row.StartHold}}</td>      
      <td>{{row.DurasiHold}}</td>
      <td>{{row.Datatambahan}}</td>
    </tr>
  </table>
  <div>
<mat-paginator 
(page)="handlePageEvent($event)"
  [length]="totalBaris"
[pageSize]="10"
[showFirstLastButtons]="true"
[pageSizeOptions]="[5, 10, 25, 100]"
aria-label="Select page">
</mat-paginator>